
<link href="~/css/site.css" rel="stylesheet" />
@{
    ViewData["Title"] = "RefriContenido";
}


<div class="container">
    <br /><br />
    <h2 class="mt-5">Refrigeradora</h2>
    
    <a class="btn btn-success my-2" asp-controller="Producto" asp-action="ListarCliente">Seguir Agregando</a>

    <div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col"></th>
                <th scope="col" colspan="2">Comida</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>
        <!--AQUI SE TRAEN LOS PRODUCTOS-->
        <tbody>
            <tr>
                <td scope="row">s</td>
                <td>img</td>
                <td colspan="2">s)</td>
                <td>s)</td>
                <td>
                    <a href="#" class="btn btn-success btn-circle btn-lg">+</a>
                    <a href="#" class="btn btn-danger btn-circle btn-lg">-</a>
                </td>
            </tr>
        </tbody>
                
    </table>
    </div>
</div>

